.m-brand .m-brand__logo .m-brand__logo-wrapper img {
    height: 45px!important;
    width: auto!important;
}
.modal.m-custom-modal {
    padding-right: 0!important;
}
.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__email {
    color: #ffffff!important;
    background-color: rgba(0, 0, 0, 0.63);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 3px;
    margin: 5px;
}
.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__name {
    display: inline-block;
    padding: 2px 5px;
    background-color: #0000008c;
    border-radius: 5px;
    margin: 5px;
}
.m-dropdown.m-dropdown--header-bg-fill .m-masked-dropdown .m-dropdown__header {
    -webkit-mask-image: url("/uploads/mask.png");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    position: absolute;
    height: 140px;
    top: -9px;
}
.m-dropdown .m-dropdown__wrapper.m-masked-dropdown .m-dropdown__body {
    padding-top: 140px;
}
.m-masked-dropdown .m-card-user {
    padding-top: 15px;
}
.m-dropdown__wrapper.m-masked-dropdown {
    padding-top: 12px!important;
}
.m-dropdown__wrapper.m-masked-dropdown>.m-dropdown__inner {
    position: relative;
}
.m-card-user .m-card-user__pic {
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0 rgba(206, 206, 206, 0.79);
    width: 70px;
    height: 70px;
    padding: 0;
}
.add-new-user-avatar-slim {
    max-width: 150px;
    margin: 40px auto 10px auto;
    border-radius: 50%;
    background-image: url(/uploads/avatars/default.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-weight: 600;
    overflow: hidden;
    box-shadow: 0px 3px 20px 0px rgba(113, 106, 202, 0.11);
    transition: all .3s ease-out;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
.add-new-user-avatar-slim:hover {
    box-shadow: 0px 5px 20px 0px rgba(113, 106, 201, 0.39);
}

@keyframes overlayup {
    from {bottom: -100%}
    to {bottom: 0;}
}

@-webkit-keyframes overlayup {
    from {bottom: -100%}
    to {bottom: 0;}
}

@-moz-keyframes overlayup {
    from {bottom: -100%}
    to {bottom: 0;}
}

@-o-keyframes overlayup {
    from {bottom: -100%}
    to {bottom: 0;}
}
.tab-content.add-new-user-tap-content{
    padding-top: 30px;
}
.company-logo-container-div{
    text-align: center;
}

.company-logo-container-div>img {
    max-height: 60px;
}

.company-fav-container-div {
    text-align: center;
}
.company-fav-container-div>img {
    max-width: 50px;
}
.holiday-calendar-title-div {
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    width: 100;
    background-color: transparent!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.holiday-calendar-custom-h3 {
    color: #fff!important;
    font-size: 14px!important;
}
.hr-setting-contents-padding {
    margin: 10px 0;
    text-align: center;
}
.hr-setting-contents-company-name-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}
.hr-setting-contents-company-name-div >p {
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 600;
    position: relative;
}
.condition-vacation-rule-label {
    font-size: 12px!important;
    color: #8c8c8c;
}
.smoke-time-container>.input-group {
    padding: 10px 15px 1px 15px;
    border: 1px solid #ebedf2;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
}
.break-time-container>.input-group {
    padding: 10px 15px 1px 15px;
    border: 1px solid #ebedf2;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
}
@media(min-width: 576px) {
    .svg-inline--fa.fa-smoking {
        display: none;
    }
    .add-smoke-time-btn>span {
        display: block!important;
    }
    #attendance_delete_btn>i.la.la-trash {
        display: none;
    }
    #attendance_delete_btn>span {
        display: block!important;
    }
}
.fc-bgevent {
    opacity: 1!important;
}
.current_smoking_time_delete_btn {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 4px;
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    font-size: 7px;
    box-shadow: 0px 3px 20px 0px rgba(113, 106, 202, 0.11);
    background: #fff;
    cursor: pointer;
    transition: all .2s ease-out;
    z-index: 10;
}
.current_smoking_time_delete_btn:hover {
    box-shadow: 0px 3px 20px 5px rgba(113, 106, 202, 0.11);
    transform: rotate(90deg);
}
@media(max-width: 767px) {
    .m-dropdown__wrapper.m-masked-dropdown {
        padding-top: 20px!important;
    }
    .m-dropdown.m-dropdown--header-bg-fill .m-masked-dropdown .m-dropdown__header {
        top: -20px;
    }
    .hr-setting-contents-padding>input {
        text-align: center;
    }
}
